body.active_admin form
  .jfu_upload_wrapper
    border: 1px dashed #aaa
    display: inline-block
    width: calc(80% - 22px)
    ul
      padding: 0 10px
    li
      padding-bottom: 5px
  .jfu_upload_input
    padding: 10px
    width: 100%
  .jfu_done
    color: #482
  .jfu_info
    box-sizing: border-box
    display: inline-block
    padding: 5px 10px
  .jfu_loading
    color: #d50
  .jfu_progress
    color: #000
    background: #fb1
    min-width: 50px
